/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: url(images/bg.gif);
  font-family: 'Inconsolata', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}
h2{
  margin-top: 30px;
}

p {
  margin: 1em 0;
}

a {
  color: #A00;
}

a:hover {
  color: #A00;
}

a:visited {
  color: #A00;
}

table {
  font-size: inherit;
  font: 100%;
}

ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.container{
  margin: 0 auto;
  padding-bottom: 40px;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  border-radius: 1em;
  font-size: 110%;
  text-align: left;
  width: 50em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
  background-color: white;
  padding: 2em;
}
.main{
  height: 36em;
}
.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title h1 {
    font-family: 'Cabin Sketch', serif;
    text-shadow: -1px 0px 1px #CCC;
    font-size: 4em;
    margin-bottom: 10px;
  }
  .site .title h1 a{
    color: #666;
    text-decoration: none;
  }

  .site .meta {
    color: #aaa;
  }
.site #content{
  height: 540px;
}
.site .left_column{
  float: left;
  width: 55%;
  margin-right: 5%;
}
.site .right_column{
  float: left;
  width: 40%;
}

  .site .footer {
    font-size: 80%;
    color: #666;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }
.site blockquote{
  background-color: #EEEEFF;
  border: 1px solid #DDDDDD;
  padding: 0 0.4em;
  margin: 0.5em;
}
.site blockquote p{
  margin:0;
  font-size: 100%;
  line-height: 1.1em;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}
  #post .title{
    margin-bottom:3em;
  }
  #post h1{
    font-size:1.3em;
  }
  #post .title h1{
    font-size:3em; 
  }
  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
    line-height: 1.1em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
.gist {
    font-size: 80%;
}
/**********************************/
/*       RESPONSIVE LAYOUT        */
/**********************************/
/* Landscape phones and down */
@media (max-width: 320px) {
  .container{
    padding: 0 2px;
  }
  .site {
    width: 310px;
  }

}
@media (max-width: 480px) {
  .container{
    padding: 0 2px;
  }
  .site {
    width: 460px;
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .site {
    width: 500px;
  }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 980px) {
  .site {
    width: 770px;
  }
}
 
/* Large desktop */
@media (min-width: 1200px) {

}
